<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wenquxing">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/touxiang"
        android:label="@string/app_name"
        android:roundIcon="@drawable/touxiang"
        android:supportsRtl="true"
        android:theme="@style/Theme.WenQuXing">
        <activity android:name=".NewEvent" />
        <activity android:name=".zhu" />
        <activity android:name=".Reminder" />
        <activity android:name=".zhuce" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>